body {
  font-family: "Helvetica", "Arial", sans-sarif;
  font-size: 13px;
  background-color: #eaeaea;
  text-shadow: 0 1px 1px #fff;
  color: #999;
  min-width: 1000px;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
#container {
  width: 900px;
  margin: 0 auto;
}
#header {
  padding-top: 10px;
  height: 30px;
  width: 100%;
  background-color: #373535;
}
#header table {
  margin: 0 auto;
  width: 800px;
}
#logo {
  text-align: left;
  width: 408px;
}
#headline {
  text-align: right;
  color: #fff;
  font-size: 12px;
  text-shadow: 0 1px 1px #000;
}
#steps {
  padding: 27px 0 40px 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#steps li {
  float: left;
  width: auto;
  display: inline;
  padding: 0 25px;
}
.outer-box {
  border: 1px solid #dedede;
  height: 500px;
  background-color: #fbfbfb;
}
.inner-top-box {
  position: absolute;
  width: 888px;
  display: none;
  background-color: #fff;
  margin: 5px 5px 0 5px;
  height: 400px;
}
.steps-desc {
  font-size: 12px;
  padding: 30px 0 0 50px;
  font-weight: bold;
  width: auto;
}
.steps-desc-name {
  position: absolute;
  color: #000;
}
.steps-desc-text {
  position: absolute;
  padding-left: 80px;
  font-weight: none;
}
#refresh-button {
  margin: -8px 0 0 720px;
  background: url("/images/refresh.png") no-repeat 0 0;
  width: 127px;
  height: 31px;
  border: 0;
}
#refresh-button:hover {
  background-position: 0 -31px;
}
#refresh-button:active {
  background-position: 0 -62px;
}
#inner-bottom-box {
  border-top: 1px solid #ebebeb;
  position: absolute;
  top: 514px;
  width: 850px;
  padding: 20px;
  background-color: #f3f3f3;
  margin: 0 5px 5px 5px;
  height: 50px;
}
#next-button {
  background: url("/images/next-button.png") no-repeat 0 0;
  float: right;
}
#prev-button {
  background: url("/images/prev-button.png") no-repeat 0 0;
  float: left;
}
#next-button,
#prev-button {
  width: 155px;
  height: 50px;
  border: 0;
  display: none;
}
#next-button:hover,
#prev-button:hover {
  background-position: 0 -50px;
}
#next-button:active,
#next-button:focus,
#prev-button:active,
#prev-button:focus {
  background-position: 0 -100px;
}
#footer {
  width: 800px;
  text-align: right;
  font-size: 12px;
  margin: 10px auto;
}
