!!!
html
   head
      title=title
      link(rel='stylesheet', href='/stylesheets/reset.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(type='text/javascript', href='/javascript/index.js')
   body!=body
   div.footer
      p
         | <b>HackNY Fall 2011</b> project by <a href="http://stevenlu.com/">Steven Lu</a>, <a href="http://twitter.com/_waynesun">Wayne Sun</a>, <a href="http://russfrank.us">Russ Frank</a> and Jarek Sedlacek