!!!
html
   head
      title=title
      link(rel='stylesheet', href='/stylesheets/reset.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
      script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
      script(type='text/javascript', src='/javascript/index.js')
   body!=body
   div#footer
      p
         | <b>HackNY Fall 2011</b> project by <a href="http://stevenlu.com/">Steven Lu</a>, <a href="http://twitter.com/_waynesun">Wayne Sun</a>, <a href="http://russfrank.us">Russ Frank</a> and Jarek Sedlacek