!!!
html
   head
      title=title
      link(rel='stylesheet', href='/stylesheets/reset.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
      script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
      script(type='text/javascript', src='/javascript/index.js')
   body!=body
   div#footer
      p
         | <div style="float:left"><a href="/about.pdf">About</a></div><div style="float: right">Text <b>www2.russfrank.us</b> to <b>DOTGO (368266)</b> when on the go!</div>